  {{#if error}}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 gy-5">
          <div class="error">{{@root.error}}</div>
        </div>
      </div>
    </div>
  {{/if}}

  {{#if succes}}
    <div class="container">
      <div class="row">
        <div class="col-lg-12 gy-5">
          <div class="succes">{{@root.succes}}</div>
        </div>
      </div>
    </div>
  {{/if}}







<main id="main" class="password">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <form action="/password/resetEmail" method="POST" class="registration">
          <div class="registration__title">Возстановления пароля</div>
          <div class="registration__value-name">
            <input name="email" type="text" placeholder="Email">
          </div>
          <button id="reg">Возстановить</button>
          <input type="hidden" name="_csrf" value="{{@root.csrf}}">
        </form>
      </div>
    </div>
  </div>
</main>


<footer id="footer">
  <div class="container-fluid">
    <div class="row">
      <a href="https://anteyku.com/" target="_new" class="col-lg-12 footer">
      
          Created by Anteyku 
        
      </a>
    </div>
  </div>
</footer>